.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.home-container{
  text-align: center;
}

.home-description p{
  color: #777;
  font-size: 1.5em;
  font-style: italic;
}

.home-description h1{
  font-size: 4em;
}

.home-logo img{
  margin: 100px auto 30px auto;
  height: 20%;
  width: 20%;
}

.home-signin, .home-signin:hover{
  display: inline-block;
  color: #333;
  font-size: 2em;
  text-decoration: none;
}

.home-signin:hover{
  color: #f47835;
}

.home-background{
  background: black;
}

.home-container{
}