<section data-ng-controller="UserToDoController">
<span>Welcome</span>
  <span data-ng-bind="authentication.user.displayName"></span>
    <div class="row">
      <div class="col-md-8">

        <div class="panel panel-primary">
          <div class="panel-heading">
            <span class="btn-group">
              <h3 class="panel-title">Todo List</h3>
              <button ng-click="nextDay()" type="button" class="btn btn-default">Next Day</button>
              <button ng-click="prevDay()" type="button" class="btn btn-default">Previous Day</button>
            </span>
          </div>
          <ul class="list-group">
            <li ng-repeat="task in tasks" ng-if="checkDate(task.taskSchedule)" class="list-group-item"><span ng-click="completeUserTask($index)" class="ex-img"><img src="modules/to-do-list/img/ex.png"></span><span ng-if="task.completed" class="completed">{{ task.description }}</span>
            <span ng-if="!task.completed" class="not-completed">{{ task.description }}</span></li>
          </ul>
          <div class="input-group">
            <span class="input-group-btn">
              <button ng-click="addUserTask()" class="btn btn-default" type="button">Add</button>
            </span>
            <input type="text" class="form-control" id="taskData" placeholder="Add task...">
          </div><!-- /input-group -->
        </div>


        <div ng-repeat="challenge in userChallenges">
          <div class="panel panel-primary">
              <div class="panel-heading">
                  <h3 data-ng-bind="challenge.name" class="panel-title"></h3>
              </div>
              <ul class="list-group">
                <li class="list-group-item" ng-repeat="task in challenge.tasks" ng-if"checkDate(task.taskSchedule)">
                  <span ng-click="completeChallengeTask($index)" class="ex-img"><img src="modules/to-do-list/img/ex.png"></span><span ng-if="task.completed" class="completed">{{ task.description }}</span>
                  <span ng-if="!task.completed" class="not-completed">{{ task.description }}</span>
                </li>
              </ul>
          </div>
        </div>

      </div>
      <div class="col-md-4">
        <ul class="list-group">
          <li class="list-group-item list-group-item-success" ng-repeat="challenge in allChallenges">{{challenge.name}} <button ng-click="addChallenge($index)">Add</button><button>More Info</button></li>
        </ul>
      </div>

    </div>
</section>
